In [ ]:
import os

print(os.getcwd())

In [7]:
import pandas as pd

df = pd.read_csv("../data/timesheet.csv", parse_dates=["Date"])
df.info()
df.head()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          90 non-null     datetime64[ns]
 1   Name          90 non-null     object
 2   Location      90 non-null     object
 3   Department    49 non-null     object
 4   Clock in      90 non-null     object
 5   Clock out     90 non-null     object
 6   Break         86 non-null     object
 7   Total hrs     86 non-null     object
 8   Schedule hrs  33 non-null     object
 9   Status        90 non-null     object
dtypes: datetime64[ns](1), object(9)
memory usage: 7.2+ KB

                      Date
count                   90
mean   2018-05-12 04:16:00
min    2018-05-01 00:00:00
25%    2018-05-07 00:00:00
50%    2018-05-12 00:00:00
75%    2018-05-17 00:00:00
max    2018-05-25 00:00:00