In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet("../data/timesheet_clean.parquet") # Load the data

employee_hours = (
    df.groupby("employee_name", as_index=False) # Grouping by name
    .agg(total_hours=("hours_worked", "sum")) # Aggregating total hours by summing them
    .sort_values("total_hours", ascending=False) # Sorting values
)

In [ ]:
# Percent Column Addition
grand_total = employee_hours["total_hours"].sum() # Summing total_hours
employee_hours["pct_total"] = employee_hours["total_hours"] / grand_total # Creating percent column

employee_hours.head() # Printing first 5 rows

          employee_name  total_hours  pct_total
0      Akash Chandrakar   213.966667   0.267815
3          Shiva Manhar   191.866667   0.240154
1          Akash Sharma   179.200000   0.224299
4  Vipplove Vishwakarma   170.566667   0.213493
2    Kulbhushan Ugemuge    43.333333   0.054239