In [6]:
import pandas as pd

df = pd.read_parquet("../data/timesheet_clean.parquet") # Loading the data

In [7]:
df = df.sort_values(["employee_name", "Date"])  # Sorting values by employee name and Date

df["cumulative_hours"] = (                      # Creating a new column
    df.groupby("employee_name")["hours_worked"] # Grouping by employee_name on hours_worked
    .cumsum()                                   # Cumulative sum function
)

df.head(10)

,Date,employee_name,Location,Department,Clock in,Clock out,Break,Total hrs,Schedule hrs,Status,hours_worked,cumulative_hours
3,2018-05-01,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 54 m,11 h 21 m,12 h 0 m,Unapproved,11.350000,11.350000
7,2018-05-02,Akash Chandrakar,Raipur HQ,Product,10:05,23:05,0 h 11 m,12 h 15 m,12 h 0 m,Unapproved,12.250000,23.600000
10,2018-05-03,Akash Chandrakar,Raipur HQ,Product,10:05,23:05,1 h 30 m,13 h 21 m,12 h 0 m,Unapproved,13.350000,36.950000
16,2018-05-04,Akash Chandrakar,Raipur HQ,None,08:05,20:05,0 h 0 m,11 h 29 m,None,Unapproved,11.483333,48.433333
19,2018-05-05,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 3 m,10 h 10 m,12 h 0 m,Unapproved,10.166667,58.600000
23,2018-05-07,Akash Chandrakar,Raipur HQ,None,12:05,20:05,0 h 0 m,8 h 1 m,None,Unapproved,8.016667,66.616667
26,2018-05-08,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 1 m,11 h 30 m,None,Unapproved,11.500000,78.116667
35,2018-05-09,Akash Chandrakar,Raipur HQ,Product,10:05,21:05,0 h 0 m,11 h 45 m,None,Unapproved,11.750000,89.866667
39,2018-05-10,Akash Chandrakar,Raipur HQ,None,10:05,21:05,0 h 0 m,10 h 48 m,None,Unapproved,10.800000,100.666667
43,2018-05-11,Akash Chandrakar,Raipur HQ,None,10:05,21:05,0 h 0 m,10 h 58 m,None,Unapproved,10.966667,111.633333

In [8]:
df.query("employee_name == 'Shiva Manhar'").head(5)

,Date,employee_name,Location,Department,Clock in,Clock out,Break,Total hrs,Schedule hrs,Status,hours_worked,cumulative_hours
0,2018-05-01,Shiva Manhar,Raipur HQ,Product,10:05,18:05,0 h 31 m,8 h 44 m,9 h 0 m,Approved,8.733333,8.733333
4,2018-05-02,Shiva Manhar,Raipur HQ,Product,10:05,19:05,0 h 20 m,9 h 2 m,9 h 0 m,Approved,9.033333,17.766667
9,2018-05-03,Shiva Manhar,Raipur HQ,Product,10:05,19:05,2 h 31 m,8 h 56 m,9 h 0 m,Approved,8.933333,26.700000
15,2018-05-04,Shiva Manhar,Raipur HQ,Product,09:05,19:05,0 h 17 m,9 h 22 m,9 h 0 m,Approved,9.366667,36.066667
17,2018-05-05,Shiva Manhar,Raipur HQ,Product,09:05,19:05,0 h 23 m,9 h 33 m,9 h 0 m,Unapproved,9.550000,45.616667

In [9]:
df.to_parquet("../data/timesheet_running.parquet", index=False)